{% extends 'base.html.twig' %}

{% block title %}The District : Panier{% endblock %}

{% block body %}

<div class="container" id="mentions" >
<h1>Voici votre panier :nom:!!!</h1>
</div>

{% endblock %}
