body {
    background-color: #191916;
    z-index: 0;
}


.nav-link {
    color: rgb(244, 242, 242);
    font-weight: bolder;
    font-size: 2.5vh;

}


ul {
    align-items: center;
}

.bi-search {
    color: beige;
}


.form-search {

    opacity: 0.4;
}

h2 {
    text-decoration: underline;
    text-underline-offset: 3px;

}

h2,
h3,
p {
    justify-content: center;
    display: flex;
    color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vh;
    margin: 2%;
    text-align: center;
}