{% extends 'base.html.twig' %}

{% block title %}The District : Accueil{% endblock %}

{% block body %}
<video  width="100%"  class="d-none d-md-flex" loop autoplay muted>
    <source src="img/images_the_district/restaurant.mp4" type="video/mp4">
    
</video>
<p>Ceci est une page d'Accueil</p>
{% endblock %}
