{% extends 'base.html.twig' %}

{% block title %}the District : Contactez-nous !{% endblock %}

{% block body %}

<div class="container" id="mentions" >
<h1>Contactez-nous !!!</h1>
</div>

<h1>Ceci est une page de Contact</h1>

{% endblock %}
