{% extends 'base.html.twig' %}

{% block title %}The District : Categories{% endblock %}

{% block body %}
{# <ul>
{% for categorie in categories %}
<li>{{ categorie.libelle}}</li>
{% endfor %}


</ul> #}


<video  width="100%"  class="d-none d-md-flex" loop autoplay muted>
    <source src="{{asset ('img/images_the_district/cuisine.mp4')}}" type="video/mp4">
    
</video>


{% endblock %} 
