{% extends 'base.html.twig' %}

{% block title %}The District : plats_cat{% endblock %}

{% block body %}
<ul>
{% for categorie in categories %}
<li>{{ categorie.id}}</li>
{% endfor %}


</ul>

{% endblock %} 
